body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}


/************ NAV **************/
.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.nav-item:hover {
    background: blue;
}


.navbar-toggler:focus {
    outline: none;
}

/*********** MAIN *****************/

.presentation {
    position: relative;
    background-color: #000;
    height: 92vh;
}

.presentation::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background-image: url('./images/playa.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}


.content-main {
    height: 80vh;
    padding: 15vh;

}

/*********** SECTION *******************/


.proyect-recents > .row > div {
    background: white;
    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

/********** FOOTER ***************/

footer > .row {
    margin-left: 20%;
    margin-right: 20%;
}

.icon {
    font-size: 40px;
}


@media screen and (max-width: 500px) {
    .content-main {
        height: 60vh;
        padding: 15vh 0 0 0;

    }

    footer > .row {
        margin: 0;
    }

}

.box-description{
    background: white;
    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.box-h{
    height: 260px;
}

.image-pre{
   padding: 0;
    
}

.image-pre figure{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}