body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: darkblue;
    
}

/************ NAV **************/
.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 4rem;
    
    background: rgb(47,113,233);
background: linear-gradient(125deg, rgba(47,113,233,1) 0%, rgba(47,47,170,1) 48%, rgba(16,0,255,1) 100%);
    
    
}

.nav-item:hover {
    background: blue;
}


.navbar-toggler:focus {
    outline: none;
}

/*********** HEADER ***************/
header{
    /*background-image: url(images/finance.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    background: rgb(47,113,233);
background: linear-gradient(125deg, rgba(47,113,233,1) 0%, rgba(47,47,170,1) 48%, rgba(16,0,255,1) 100%);
}


/*********** MAIN *****************/

.shadow {
    box-shadow:  0 .5rem .5rem 0 rgba(0,0,0,0.5) !important;
}

/*********** SECTION *******************/
.vf{
    min-height: 100vh;
    margin-top: 60px;
}

.tools{
    min-height: 100vh;
    background-color: black
}


/********** FOOTER ***************/

.icon-size{
    font-size: 20px;
}

.main-img {
    width: 90%;
    height: auto;
}

a:link, a:visited, a:active{
    text-decoration: none;
}

.icon-big{
    font-size: 30px;
}

.parrallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
    background-image: url(images/programacion-2.jpg);
}

#proyect{
     background-image: url(images/programacion.jpg);   
}

#contact{
    background-color: darkblue;
}

footer{
    background: rgb(47,113,233);
background: linear-gradient(125deg, rgba(47,113,233,1) 0%, rgba(47,47,170,1) 48%, rgba(16,0,255,1) 100%);
}

main{
    background-image: radial-gradient(circle at 50% 98%, #6485f8 0, #3c78f2 50%, #006bec 100%);
}